rules_version = '2';
service cloud.firestore {
  
  function isAuthenticated() {
    return request.auth != null;
  }

  function isUserProfileValidUpdate(data) {
    let requiredFields = ["uid", "email", "displayName", "photoURL", "favorites", "activeCities", "bio", "createdAt"];
    
    let allFieldsAreKnown = data.keys().hasAll(requiredFields);
    
    let identityFieldsUnchanged = data.uid == resource.data.uid 
                                  && data.email == resource.data.email
                                  && data.createdAt == resource.data.createdAt;
                                  
    return allFieldsAreKnown && identityFieldsUnchanged;
  }

  match /databases/{database}/documents {
    
    // PERFILES DE USUARIO
    match /users/{userId} {
      allow read: if isAuthenticated(); 
      allow create, delete: if isAuthenticated() && request.auth.uid == userId;
      allow update: if isAuthenticated()
                    && request.auth.uid == userId 
                    && isUserProfileValidUpdate(request.resource.data);
    }
    
    // CIUDADES
    match /cities/{citySlug} {
      // Todos pueden leer la info de las ciudades
      allow read; // equivalente a "allow read: if true;"

      // Solo tu usuario admin puede escribir
      allow write: if isAuthenticated()
                   && request.auth.uid == 'wH2hwO47lwdfrPYIUHYUw0xDs0i1';
    }

    // ITINERARIOS
    match /itineraries/{itineraryId} {
      allow create: if isAuthenticated()
                    && request.resource.data.authorId == request.auth.uid;
      allow read, update, delete: if isAuthenticated()
                                  && resource.data.authorId == request.auth.uid;
    }

    // CHATS POR CIUDAD
    match /cityChats/{cityId}/messages/{msgId} {
      allow read, write: if isAuthenticated();
    }
    
    // QUEDADAS / MEETUPS
    match /cityMeetups/{cityId}/meetups/{meetupId} {
      allow read, write: if isAuthenticated();
    }

    // FOTOS TIPO “INSTAGRAM”
    match /photos/{photoId} {
      // Cualquiera puede ver las fotos
      allow read; // o "allow read: if true;"

      // Solo el usuario autenticado puede subir una foto asociada a su uid
      allow write: if isAuthenticated()
                   && request.resource.data.userId == request.auth.uid;

      // LIKES
      match /likes/{likeId} {
        allow read; // todos leen
        allow create: if isAuthenticated();
        allow delete: if isAuthenticated()
                      && request.auth.uid == resource.data.userId;
      }

      // COMENTARIOS
      match /comments/{commentId} {
        allow read; // todos leen
        allow create: if isAuthenticated();
        allow delete: if isAuthenticated()
                      && request.auth.uid == resource.data.userId;
      }
    }
  }
}


